<link rel="stylesheet" href="perfume.show.css">
<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの色は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "1111" %>
    <h6>暖色系の2色で統一感を持たせたいあなたへオススメ</h6>
    <p>【赤、黄】【茶、黄】【橙、黒】</p>
    <p></p>

    <% elsif @perfume.question == "1112" %>
    <h6>暖色系の2色でランダムにしたい<あなたへオススメ/h6>
    <p>【赤、黒】、【橙、緑】、【桃、青】</p>
    <p></p>

    <% elsif @perfume.question == "1121" %>
    <h6>暖色系の3色で統一感を持たせたいあなたへオススメ</h6>
    <p>【黄、橙、赤】【黄、桃、赤】【赤、茶、橙】</p>
    <p></p>

    <% elsif @perfume.question == "1122" %>
    <h6>暖色系の3色でランダムにしたいあなたへオススメ</h6>
    <p>【赤、緑、白】</p>
    <p>【オレンジ、紫、黒】</p>
    <p>【桃、水、黄】</p>

    <% elsif @perfume.question == "1211" %>
    <h6>寒色系の2色で統一感を持たせたいあなたへオススメ</h6>
    <p>【白、青】【紫、青】</p>
    <p></p>

    <% elsif @perfume.question == "1212" %>
    <h6>寒色系の2色でランダムにしたいあなたへオススメ</h6>
    <p>【青、茶】【黒、青】</p>
    <p></p>

    <% elsif @perfume.question == "1221" %>
    <h6>寒色系の3色で統一感を持たせたいあなたへオススメ</h6>
    <p>【白、黒、青】【灰、青、白】【紫、茶、青】</p>
    <p></p>

    <% elsif @perfume.question == "1222" %>
    <h6>寒色系の3色でランダムにしたいあなたへオススメ</h6>
    <p>【青、緑、赤】【紫、青、茶】【黄、黒、青】</p>
    <p></p>

    <% elsif @perfume.question == "2111" %>
    <h6>暖色系の2色で統一感を持たせたいあなたへオススメ…</h6>
    <p>【赤、黄】【茶、黄】【橙、黒】</p>
    <p></p>

    <% elsif @perfume.question == "2112" %>
    <h6>暖色系の2色でランダムにしたいあなたへオススメ</h6>
    <p>【赤、黒】、【橙、緑】、【桃、青】</p>
    <p></p>

    <% elsif @perfume.question == "2121" %>
    <h6>暖色系の3色で統一感を持たせたいあなたへオススメ</h6>
    <p>【黄、橙、赤】【黄、桃、赤】【赤、茶、橙】</p>
    <p></p>

    <% elsif @perfume.question == "2122" %>
    <h6>暖色系の3色でランダムにしたいあなたへオススメ</h6>
    <p>【赤、緑、白】【オレンジ、紫、黒】【桃、水、黄】</p>
    <p></p>

    <% elsif @perfume.question == "2211" %>
    <h6>寒色系の2色で統一感を持たせたいあなたへオススメ</h6>
    <p>白、青】【紫、青】</p>
    <p></p>

    <% elsif @perfume.question == "2212" %>
    <h6>寒色系の2色でランダムにしたいあなたへオススメ</h6>
    <p>【青、茶】【黒、青】</p>
    <p></p>

    <% elsif @perfume.question == "2221" %>
    <h6>寒色系の3色で統一感を持たせたいあなたへオススメ</h6>
    <p>【白、黒、青】【灰、青、白】【紫、茶、青】</p>
    <p></p>

    <% elsif @perfume.question == "2222" %>
    <h6>寒色系の3色でランダムにしたいあなたへオススメ</h6>
    <p>【青、緑、赤】【紫、青、茶】【黄、黒、青】</p>
    <p></p>

    <% end %>

</div>